In [1]:
import cv2
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt

In [2]:
df = pd.read_pickle('../datamartV1.pkl')

In [ ]:
import numpy as np
import pandas as pd

def num_to_hw(num):
    all_input = num_to_list(num)
    
    part1, part2, part3 = all_input[0:4], all_input[4:8], all_input[8:12]
    unit1, unit2, unit3 = ['仟', '佰', '拾', ''], ['仟', '佰', '拾', ''], ['仟', '佰', '拾', '']
    result1, result2, result3 = judge(part1, unit1), judge(part2, unit2), judge(part3, unit3)
    
    if result1 != ['']: result1 = result1 + ['億']
    if result2 != ['']: result2 = result2 + ['萬']
    
    hw_dict = {0: '零', 1: '壹', 2: '貳', 3: '參', 4: '肆', 
               5: '伍', 6: '陸', 7: '柒', 8: '捌', 9: '玖'
              }
    hand_writing =  [hw_dict.get(item, item) for item in (result1)] + \
                    [hw_dict.get(item, item) for item in (result2)] + \
                    [hw_dict.get(item, item) for item in (result3)] + ['元整']
    
    return ''.join(hand_writing)

def num_to_list(num):
    all_input = np.zeros(12, dtype=int)
    
    i = 1
    while i <= 12:
        p = num / 10
        s = str(p)[::-1][0:1]   
        all_input[i-1] = s
        
        num = int(p)
        i = i + 1
    
    all_input = all_input[::-1]
    return all_input

def judge(num_arr, unit_arr):
    res = []
    # 特殊狀況1：全部是0
    if(num_arr.sum() == 0):
        res = ['']
    
    # 特殊狀況2：中間兩位數為0，且頭尾不為0
    elif((num_arr[1:3].sum() == 0) & (num_arr[0]>0) & (num_arr[3]>0)):
        res = res + [num_arr[0], unit_arr[0], 0, num_arr[3], unit_arr[3]]
    
    # 一般狀況
    else:   
        res = [i for pair in zip(num_arr.tolist(), unit_arr) for i in pair if(pair[0] != 0)]

    return res

# test = num_to_hw(2154683)
# test

In [ ]:
df['Amount_hw'] = df.Amount.apply(lambda x : num_to_hw(x))

In [ ]:
cv2.resize(df.image[0],(100,16)).shape

In [ ]:
df['image_Small'] = df.image.apply(lambda x : cv2.resize(x,(320,32),cv2.INTER_AREA))

In [ ]:
df.head()

In [13]:
df.to_pickle('../datamartV1.pkl')

In [ ]:
plt.imshow(df.image_Small[0])

In [ ]:
cv2.resize(df.image[0],(100,16)).shape

In [3]:
df.head()

,root,Amount,image,Amount_hw,image_Small
0,/image/data/GF10244160490032.jpg,16000,"[[0.7254901960784313, 0.7176470588235294, 0.70...",壹萬陸仟元整,"[[0.7205575980392156, 0.6301623774509804, 0.62..."
1,/image/data/GF11241974690049.jpg,2468,"[[0.5254901960784314, 0.49411764705882355, 0.5...",貳仟肆佰陸拾捌元整,"[[0.6123468137254902, 0.8616268382352941, 0.73..."
2,/image/data/GF11012970590053.jpg,9545,"[[0.7294117647058823, 0.7058823529411765, 0.66...",玖仟伍佰肆拾伍元整,"[[0.6418504901960784, 0.8431066176470589, 0.70..."
3,/image/data/GF10336156190068.jpg,16870,"[[0.8470588235294118, 0.8470588235294118, 0.82...",壹萬陸仟捌佰柒拾元整,"[[0.5708026960784315, 0.7798253676470588, 0.66..."
4,/image/data/GF11366206090092.jpg,9000,"[[0.9019607843137255, 0.9647058823529412, 0.93...",玖仟元整,"[[0.8944087009803922, 0.8486366421568629, 0.85..."

In [5]:
df['Count'] = df.Amount_hw.apply(lambda x : len(x))

In [10]:
df = df.sort_values('Count')

In [12]:
df.head()

,root,Amount,image,Amount_hw,image_Small,Count
2535,/image/data/GF10233540190035.jpg,40000,"[[0.42745098039215684, 0.6313725490196078, 0.6...",肆萬元整,"[[0.6018995098039215, 0.4313725490196079, 0.45...",4
1552,/image/data/GF11056895780012.jpg,30000,"[[0.5019607843137255, 0.6274509803921569, 0.52...",參萬元整,"[[0.5431678921568627, 0.8843443627450982, 0.40...",4
1549,/image/data/GF11078902390027.jpg,40000,"[[0.8745098039215686, 0.792156862745098, 0.737...",肆萬元整,"[[0.5397977941176471, 0.44159007352941176, 0.6...",4
1546,/image/data/GF10967811990022.jpg,20000,"[[0.592156862745098, 0.4823529411764706, 0.341...",貳萬元整,"[[0.29905024509803924, 0.5300704656862746, 0.4...",4
2928,/image/data/GF10602856180024.jpg,60000,"[[0.6823529411764706, 0.5647058823529412, 0.46...",陸萬元整,"[[0.6275888480392157, 0.6101102941176471, 0.66...",4

In [17]:
for i in range(100):
    with open("/image/Chen/data/"+df['root'].values[i][12:-4] + ".txt","w") as f:
        f.write(df['Amount_hw'].values[i])
        f.close()

In [ ]:
df['root'].values[0][12:-4] + ".txt"

In [ ]:
df['Amount_hw'].values[0]

In [ ]:
with open("./data/"+df['root'].values[1379][12:-4] + ".txt","w") as f:
    f.write(df['Amount_hw'].values[1379])
    f.close()